@font-face {
    font-family: 'New York';
    src: url('https://static.tumblr.com/plmkxw9/w6zr7pmed/newyork_personal_use-webfont.eot');
    src: url('https://static.tumblr.com/plmkxw9/A4dr7pm8r/newyork_personal_use-webfont.woff2') format('woff2'),
         url('https://static.tumblr.com/plmkxw9/sGir7pmbo/newyork_personal_use-webfont.woff') format('woff'),
         url('https://static.tumblr.com/plmkxw9/upsr7pm7r/newyork_personal_use-webfont.ttf')  format('truetype');
}





